
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:lab(100% 0.01 -0.01);
}

h2{
  font-size:16px;
}

.layout{
  width:90%;
  max-width:1200px;
  margin:50px auto;
  display:grid;
  grid-template-columns: 2fr 1fr;
  gap:30px;
}

.products h1{
  margin-bottom:20px;
}

.grid{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:25px;
}

.img-box{
  position:relative;
}

.img-box img{
  width:100%;
  height:220px;
  border-radius:10px;
  object-fit:cover;
}

.cart-btn{
  position:absolute;
  bottom:-20px;
  left:50%;
  transform:translateX(-50%);
  width:140px;
  background:white;
  border:2px solid #333;
  padding:8px 18px;
  border-radius:25px;
  cursor:pointer;
  font-size:14px;
  box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.cart-btn:hover{
  background:#ffffff;
}

.category{
  color:#777;
  margin-top:30px;
}

.card h2{
  margin:3px 0;
}

.price{
  color:#0be000;
  font-weight:bold;
}

.cart-box{
  background:white;
  padding:25px;
  border-radius:12px;
  height:fit-content;
  text-align:center;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.cart-box img{
  width:150px;
  margin:15px 0;
}

.cart-box h2{
  color:#b39581;
}

.empty-text{
  color:#555;
}


