.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border-radius: 6px;
}

.logo {
  left: 20px;
  height: 400px;
}

.banner h1 {
  margin: 0;
  font-size: 52px;
  font-weight: bold;
  color: #222;
  font-family: Arial, sans-serif;
}