.form-container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h3 {
    text-align: center;
    color: #003366;
}

p {
    text-align: center;
    font-size: 14px;
    color: #555;
}


/* form fields*/
.field {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: none;/* i want to stop the text area to be dragged unnecessarily*/

}

.radio-group {
    display: flex;
    gap: 10px;
}




button {
    width: 100%;
    padding: 12px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px; 
    font-size: 16px;
}

button:hover {
    background-color: #004c99;
}





.error {
    color: red;
    font-size: 12px;
}

.success-msg {
    color: green;
    text-align: center;
}
